@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    font-family: "inter";
    background-color: #06080C;
    padding: 40px;
    
}

.flex-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.head-box {
    display: flex;
    top: 0;
    justify-content: space-between;
    width: 1920px;
    box-sizing: border-box; 
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

    .refresh-button{
        background-color: #EB0237;
        border-radius: 4px; 
        width: 204px;
        height: 56px;
        font-size: 18px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }

    .refresh-img{
        margin-left: 10px;
        
    }
      .rotate{
        animation: mymove 1s linear;
      }



    @keyframes mymove {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(-180deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }  

.card{
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0B0E12;
  width: 100%;
  box-sizing: border-box; 
  padding-left: 16px;
  padding-right: 16px;

}

 .score-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 87px;
  padding-bottom: 10px;
  }
    
  .status-box {
    width: 92px;
    height: 27px;
    
    border-radius: 6px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 4px;
  }
      .status-finished{
        background-color: #EB0237;
      }
      .status-live{
        background-color: #43AD28;
      }
      .status-preparing{
        background-color: #EB6402;
      }

    .score{

      color: #FFFFFF;
      font-size: 20px;
      margin: 0;
      

      }
      .command{
        color: #FFFFFF;
        display: flex;
        grid-gap:10px;
      }  


